@charset "UTF-8";
// 全局颜色变量
$color-primary: #409EFF;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

$color-text-primary: #303133; // 主要文字颜色
$color-text-regular: #606266; // 常亮文字颜色
$color-text-secondary: #909399; // 次要文字颜色
$color-text-placeholder: #C0C4CC; // 占位文字颜色

$color-white: #FFFFFF; // 基础白色
$color-black: #000000; // 基础黑色
$background-color-base: #F5F7FA // 基础背景色
